# Object file
*.o

# Ada Library Information
*.ali

# Build folders (also matches example/obj and tests/obj)
obj/
lib/

# Built example and test programs
example/example_joular_core
example/c/example_c
example/c/*.dll
example/python/__pycache__
*.exe

# Alire generated folders
config/
alire/

# Editor and OS files
.vscode/
.DS_Store
